COMPOSE_PROJECT_NAME=routing-osrm-updater
OSRM_IMAGE=ghcr.io/project-osrm/osrm-backend:v26.6.5-debian
UPDATER_WORKSPACE_PATH=.
UPDATER_DOCKERFILE_PATH=docker/data-tools/Dockerfile
UPDATER_DATA_PATH=./data
OSRM_ALGORITHM=ch
